@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #ecf0f3;
}

.chat-container{
    border-radius: 10px;
    height: 93vh;
    width: 1000px;
    margin: 10px auto;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
            -13px -13px 20px #ffffffde;
}
h1 {
    text-align: center;
    margin: 0px auto;
    display: block;
    cursor: pointer;
}
.chat-header{
    padding-left: 5%;
    color: rgba(255, 0, 0, 0.829);
}
h1 .fa{
    padding-right: 10px;
}

h1:hover{
    color: royalblue;
}
.chat-header {
    background: seashell;
    /* color: #fff; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h3{
    padding-top: 10px;
    text-align: center;
    max-width: 800px;
    letter-spacing: 0.08em;
    font-size: 1.3em;
    cursor: default;
    color: royalblue;
}

#room-name{
    padding-left: 0.5em;
    letter-spacing: 0.1em;
    font-size: 1.5em;
    font-style: normal;
    cursor: pointer;
    color: rgba(255, 0, 0, 0.829);
}
#room-name:hover{
    color: royalblue;
}


.chat-messages{
    width: 800px;
    height: 68vh;
    border-radius: 10px;
    margin-left: 5px;
    background-color: #ecf0f3e7;
    box-shadow: inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px #ffffff;
    overflow-y: scroll;
}

.chat-main {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
}

ul{
    list-style: none;
    /* padding-left: ; */
}
#usr{
    padding-left: 2em;
    max-width: 100%;
    font-style: normal;
    font-size: 1.3em;
    text-align: center;
    margin: 0px auto;
    display: block;
    letter-spacing: 0.2em;
    color: royalblue;
}
#usr:hover{
    color: seagreen;
}
.chat-messages .message {
    padding: 10px;
    margin-left: 2em ;
    margin-right: 2em;
	margin-top: 15px;
	background-color: rgba(95, 130, 236, 0.452);
	border-radius: 5px;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
    padding-left: 15px;
    padding-top: 0.7em;
}

.chat-form-container input[type='text'] {
    font-size: 13px;
    width: 710px;
	padding-left: 15px;
    height: 30px;
    border: none;
    border-radius: 10px;
}
.joined-left{
    text-shadow: -1px 1px 2px;
    color: maroon;
    font-style: oblique;
    text-align: center;
    font-size: 1.05em;
    padding-top: 10px;
    display: inherit;
}

.btn{
    border: none;
    background-color: rgba(70, 131, 180, 0.384);
    height: 2em;
    width: 5em;
    margin-left: 0.5em;
    border-radius: 3px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(24, 180, 24, 0.603);
    font-style: italic;
}

ul li{
    padding-left: 1.9em;
    text-align: center;
    color: rgba(255, 0, 0, 0.829);
    font-size: 1.5em;
    letter-spacing: 0.05;
    font-family: 'Gayathri', sans-serif;
    cursor: pointer;
}
ul li:hover{
    color: royalblue;
}


/* bolo bolo bolo bol bachhan */

@media only screen and (max-width: 500px) {
    .chat-header{
        width: 100vw;
        font-size: 15px;
    }
    h3{
        width: 100vw;
        font-size: 1em;
    }
    .chat-messages{
    width: 80vw;
    }
    #usr{
        width: 20vw;
        padding: 0 0;
        font-size: 1em;
        letter-spacing: 0;
    }
    .chat-form-container input[type='text'] {
        width: 74vw;
    }
    .chat-form-container {
        padding-left: 10px;
        padding-top: 0.3em;
    }
    .btn {
        height: 2em;
        width: 18vw;
        margin-left: 0.1em;
        border-radius: 8px;
    }
    .chat-container{
        height: 100vh;
        width: 100%;
    }
    ul li{
        padding-top: 3px;
        padding-left:0;
        font-size: 0.9em;
    }
    h1 {
        font-size: 25px;
    }
    #room-name{
        padding-left: 0.3em;
        font-size: 1.5em;
    }
    .chat-messages .message {
        padding: 6px;
        margin-left: 1em;
        margin-right: 1em;

    }
}