*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-items: center;
    color: #555;
    font-weight: 700;
    background: #ecf0f3;
}

.warper{
    width:430px;
    height: 90vh;
    padding: 60px 35px 35px 35px;
    margin: 0 auto;
    border-radius: 40px;
    background: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
                -13px -13px 20px #ffffff;
  }

  .logo img{
      border-radius: 50%;
    box-shadow: 
     0px 0px 2px #5f5f5f,
     0px 0px 0px 5px #ecf0f3, 
     8px 8px 15px #a7aaaf,
     -8px -8px 15px #ffffff; 
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
  }
  
  .fields {
    width: 100%;
    padding: 75px 5px 5px 5px;
  }

  .form-control .inps{
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color: #555;
    padding:20px 10px 20px 5px;
  }

  #username{
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
    width: 100%;
    padding-left: 20px;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-transform: capitalize;
  }


  .signin-button {
    margin-top: 10%;
    outline: none;
    border:none;
    cursor: pointer;
    width:100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    color:#fff;
    text-align: center;
    background: #24cfaa;
    box-shadow: 3px 3px 8px #b1b1b1,
                -3px -3px 8px #ffffff;
    transition: 0.5s;
  }
  .signin-button:hover {
    background:#2fdbb6;
  }
  .signin-button:active {
    background:#1da88a;
  }

  .form-control{
      padding-top: 10%;
  }


  .option input{
      appearance: none;
      -webkit-appearance: none;
  }

  .cont{
      text-align: center;
  }
 label .fa{
    position: relative;
    height: 40px;
    text-align: center;
    margin: 4px;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: -1px -1px 3px #ffffff,
                2px 2px 6px #cbced1;
    width: 40px;
    background: #ecf0f3 ;
    line-height: 40px;
    cursor: pointer;
}

label .fa:hover{
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
                2px 2px 6px rgba(128, 126, 126, 0.658),
                inset -2px -2px 10px rgba(255, 255, 255, 0.05),
                inset  2px 2px 10px rgba(0, 0, 0, 0.05);

}


.option input:checked ~ .fa{
    color: #24cfaa;

}

#later{
  padding-left: 10px;
}

#roomid{
  height: 2em;
  margin-top: 2em;
  font-size: 16px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff;
  width: 100%;
  padding-left: 20px;
}

@media only screen and (max-width: 500px) {
  .warper{
    width: 400px;
    height: 94vh;
  }
}